.white-font
  %h2= t('.list_of_articles')

  %table.full-list
    - @articles.each do |article|
      - if article.published
        %tr
          %td= image_tag article.photo.url(:small)
          %td= article.title
          %td= article.description
