.form-group {
  textarea {
    margin: 5px;
    height: 100px;
  }
  label.checkbox {
    input[type=checkbox] {
      width: auto;
      margin: 0;
      padding: 0;
      height: 20px;
      margin-left: 80px;
    }
  }
}

.middle {
  text-align: center;
}

.author {
  text-align: center;
  margin-top: 0;
}

.center-form {
  border: 3px solid #FF99CC;
  border-radius: 25px;
  background-color: #FFEBFA;
  margin: 10px 300px 30px 300px;
  padding: 10px;
  color: #333333;
}

.input-form {
  border: 3px solid #FF99CC;
  background-color: #FFEBFA;
  border-radius: 25px;
  padding: 10px;
  margin: 10px 150px 30px 150px;
}

.form-actions {
  text-align: center;
}
