html, body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 1025px;
  margin: 0 auto;
  .header {
    width: 995px;
    position: relative;
  }
  .content {
    width: 995px;
  }
  .top {
    h2 {
      float: left;
    }
    .page-otpions {
      float: right;
    }
  }
}

.page-options {
  position: absolute;
  top: 70px;
  right: 25px;
}

.alert {
  margin-top: 10px;
}

.col-lg-6 {
  span {
    display: block;
  }
}

ul.nav.navbar-nav {
  li {
    a:hover {
      background-color: #E8E8E8;
    }
  }
}
