table {
  tr {
    margin: 20px;
  }
  tr, th {
    padding: 10px;
  }
  tr, td {
    padding: 10px;
    border-top: 2px solid #FF99CC;
    text-align: center;
  }
}

table.my-receipt-list {
  width: 100%;
  margin: 0;
}

table.all-receipt-list {
  width: 90%;
  margin-left: 40px;
}
