table {
  margin-left: 40px;
  tr {
    margin: 20px;
  }
  tr, th {
    padding: 10px;
  }
  tr, td {
    padding: 10px;
    border-top: 2px solid #FF99CC;
    text-align: center;
    vertical-align: center;

  }
}

.table {
  width: 90%;
}
